<html>

<head>
    <title></title>
</head>

<body>
    <form action="/newPost" method="post">
        Title:<input type="text" name="title"> Markdown:
        <textarea name="markdown"></textarea>
        <input type="submit" value="Login">
    </form>
</body>

</html>