<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #252323;
            /*font-family: 'Ubuntu', sans-serif;*/
            font-family: 'Titillium Web', sans-serif;
        }

        .grid-sizer {
            width: 25%
        }

        .item:nth-child(3n+2) {
            width: 50%;
            font-size: 4vw;
        }

        .item {
            width: 25%;
            height: 100px;
            font-size: 3vw;
            overflow: hidden;
        }

        .item__bg {
            min-width: 100%;
            min-height: 100%;
            display: block;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            transition: all 1s ease-in-out;
        }

        .item:hover .item__bg {
            transform: scale3d(1.1, 1.1, 1.1);
        }

        .item__content {
            position: relative;
            z-index: 2;
            float: left;
            height: 100%;
            width: 100%;
            color: white;
        }

        .item__content__overlay {
            position: relative;
            z-index: 1;
            float: left;
            height: 100%;
            width: 100%;
            color: white;
            background-image: linear-gradient(to top, #000 0%, transparent 60%);
            /*background-image: linear-gradient(to top, #141618 0%, transparent 50%);*/
        }

        .item__content__title {
            position: absolute;
            font-family: 'Ubuntu', sans-serif;
            bottom: 5%;
            left: 5%;
            right: 5%;
            z-index: 2;
        }

        .item__content__title p {
            font-family: 'Titillium Web', sans-serif;
            font-size: 1.5vw;
            margin: 0;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: scale3d(0.2, 0.2, 0.2)
            }
            to {
                opacity: 1;
                transform: scale3d(1, 1, 1)
            }
        }
    </style>

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

</head>

<body>


    <div class="container">

        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="item">
                <div class="item__content">
                    <div class="item__content__overlay"></div>
                    <div class="item__content__title">
                        <p>Bla Bla Bla</p> Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="item__bg"></div>
            </div>
            <div class="item">
                <div class="item__content">
                    <div class="item__content__overlay"></div>
                    <div class="item__content__title">
                        <p>Bla Bla Bla</p> Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="item__bg"></div>
            </div>
            <div class="item">
                <div class="item__content">
                    <div class="item__content__overlay"></div>
                    <div class="item__content__title">
                        <p>Bla Bla Bla</p> Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="item__bg"></div>
            </div>
            <div class="item">
                <div class="item__content">
                    <div class="item__content__overlay"></div>
                    <div class="item__content__title">
                        <p>Bla Bla Bla</p> Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="item__bg"></div>
            </div>
            <div class="item">
                <div class="item__content">
                    <div class="item__content__overlay"></div>
                    <div class="item__content__title">
                        <p>Bla Bla Bla</p> Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="item__bg"></div>
            </div>
            <div class="item">
                <div class="item__content">
                    <div class="item__content__overlay"></div>
                    <div class="item__content__title">
                        <p>Bla Bla Bla</p> Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="item__bg"></div>
            </div>
            <div class="item">
                <div class="item__content">
                    <div class="item__content__overlay"></div>
                    <div class="item__content__title">
                        <p>Bla Bla Bla</p> Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="item__bg"></div>
            </div>
            <div class="item">
                <div class="item__content">
                    <div class="item__content__overlay"></div>
                    <div class="item__content__title">
                        <p>Bla Bla Bla</p> Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet
                    </div>
                </div>
                <div class="item__bg"></div>
            </div>
        </div>
    </div>

    <!--Import the GSAP TweenMax code-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/TweenMax.min.js"></script>

    <script>
        //Array.from(document.body.querySelector('.item')).forEach(a => a.style.height = a.style.width);

        function setHeight() {
            var elements = document.body.querySelectorAll('.item');

            [].forEach.call(elements, function (el, idx) {
                el.style.height = el.offsetWidth
                // var delaytime = (idx * 250) / 1000
                // var duration = 800 / 1000
                // // el.style.animation = "fadeIn " + duration + "s " + delaytime + "s ease-in-out"
                // TweenLite.fromTo(el, duration, {
                //     css: {
                //         scale: 0,
                //         // opacity: 0
                //     }
                // }, {
                //     css: {
                //         // opacity: 1,
                //         scale: 1
                //     },
                //     ease: Sine.easeOut,
                //     delay: delaytime
                // });
            });
        }

        function setBG() {
            var elements = document.body.querySelectorAll('.item__bg');

            [].forEach.call(elements, function (el) {
                if (el.offsetWidth <= 450) {
                    el.style.backgroundImage = "url(images/small.jpeg)"
                } else {
                    el.style.backgroundImage = "url(images/big.jpeg)"
                }
                // el.style.backgroundImage = "url(https://unsplash.it/" + (el.offsetWidth * 2) + "/?random"
                // el.innerHTML = "foo";
            });
        }

        function animateGridOnOpen() {
            var elements = document.body.querySelectorAll('.item');

            [].forEach.call(elements, function (el, idx) {
                var delaytime = (idx * 250) / 1000
                var duration = 800 / 1000
                // el.style.animation = "fadeIn " + duration + "s " + delaytime + "s ease-in-out"
                TweenLite.fromTo(el, duration, {
                    css: {
                        scale: 0,
                        // opacity: 0
                    }
                }, {
                    css: {
                        // opacity: 1,
                        scale: 1
                    },
                    ease: Sine.easeOut,
                    delay: delaytime
                });
            });
        }

        function init() {
            setHeight();
            setBG();
            animateGridOnOpen();
        }

        init()

        window.addEventListener('resize', function (event) {
            setHeight()
        });

        var elem = document.querySelector('.grid');
        var msnry = new Masonry(elem, {
            // options
            itemSelector: '.item',
            columnWidth: '.grid-sizer',
        });
    </script>
</body>

</html>