<html>

<head>
    <link rel="icon" type="image/png" sizes="120x120" href="favicon.png">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>{{.Title}}</h1>
    <p>{{.PostDate}}</p>
    <hr> {{.Content}}
</body>

</html>